<p>postcodes.</p>

<br>

<form action="/json">
  <input type="submit" value="go">
</form>

<form action="/get_postcode" method="post">
  <label for="my_postcode">enter postcode</label>
  <input type="text" name="my_postcode">
  <input type="submit" value="go">
</form>
