<p>postcodes.</p>

<br>

<form action="/json">
  <input type="submit" value="go">
</form>

<form action="/json" method="post">
  <label for="postcode">enter postcode</label>
  <input type="text" name="postcode">
  <input type="submit" value="go">
</form>
