<p>Postcode service area check</p>

<br>

<form action="/get_postcode" method="post">
  <label for="my_postcode">Enter a postcode</label>
  <input type="text" name="my_postcode">
  <input type="submit" value="go">
</form>
